[submodule "nsecbunkerd"]
	path = nsecbunkerd
	url = https://github.com/kind-0/nsecbunkerd.git
[submodule "nsecbunker-admin-ui"]
	path = nsecbunker-admin-ui
	url = https://github.com/kind-0/nsecbunker-admin-ui.git
